.app {
  min-height: 100vh;
  background: linear-gradient(#c4c4c4, #f1f1f1);
  text-align: center;
}

.card-image{
    width: 100px;
    height: 100px;
}

.main-heading {
  font-size: 4rem;
  margin: 2rem 0;
  color: #444;
}

.subheading {
  font-size: 1.5rem;
  margin-bottom: 3rem;
  color: #666;
}

.cards-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  width: 300px;
  transition: transform 0.2s;
}

.card h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.card p {
  font-size: 1.2rem;
  color: #888;
}

    .card-button {
   
    padding: 10px 18px;
    background: #4a90e2;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease;
    text-decoration: none;
}
